/* Main
-------------------------------------*/

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#main {
    width: 100%;
    background: #fff;
    position: relative;
    display:inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    background: #f6f6f6;
    padding-left: 10px;
    padding-top: 5px;
    border-top: 2px solid #cc5318;
}

/* Text Styles
------------------------------------------*/

h3 {
    font-size: 26px;
    line-height: 30px;
}




/* Header
------------------------------------*/

#header {
    background-color: rgba(31, 31, 31, 0.95);
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    transition: 200ms ease-in-out;
}

#header.scrolled {
    height: 80px;
}

.headerinner {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
}

/* Logo
-------------------------------------*/


.logo {
    height: 100%;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}




/* Navigation
----------------------------------*/

#navigation {
    width: initial;
    max-width: 1100px;
    margin: auto;
    box-sizing: border-box;
    float: left;
    height: 100%;
}

#nav {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#nav li {
    width: initial;
    padding-left: 10px;
    padding-right: 10px;
}

.toplevel {
    padding-top: 33px;
    transition: 200ms ease-in-out;
}

.toplevel.scrolled {
    padding-top: 22px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 150ms linear;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

#nav a:hover {
    color: #CF5300;
}

.navlabel {
    font-size: 26px;
    color: #f74604;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 18px;
    font-weight: bold;
    display:none;
}


/* Mega Menu
----------------------------------*/

#megamenu {
    position: absolute;
    top: -350px;
    width: 80%;
    background: rgba(31, 31, 31, 0.95);
    margin: auto!important;
    border-top: 2px solid #f74604;
    list-style: none;
    left: 10%;
    transition:300ms ease-in-out;
    list-style: none;
    padding-left: 0px;
    padding: 2%;
    z-index: -3;
    opacity:0;
}

.toplevel:hover #megamenu {
    top:100px;
    opacity:1;
}

.toplevel:hover #megamenu.scrolled {
    top:80px;
    opacity:1;
}

.megamenucol {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'oswald';
    font-weight: bold;
    width: 25%!important;
    float: left;
    box-sizing: border-box;
}

.megamenulist {
    list-style: none;
    padding-left: 0px;
}

.megamenuitem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.megamenuitem a {
    font-size: 14px!important;
    font-family: 'open sans'!important;
    font-weight: 400!important;
    line-height: 16px!important;
}


/* Shopping Cart Section
------------------------------------*/

#shopingcatholder {
    margin: auto;
    box-sizing: border-box;
    float: right;
    height: 100%;
}

#shopingcart {
    margin: auto;
    box-sizing: border-box;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

#shopingcartli {
    display: flex;
    justify-content: center;
}

.cart {
    color: #fff;
    font-size: 26px!important;
    margin: auto;
    line-height: 26px!important;
    transition: 200ms linear;
    padding-left: 15px;
}

.cart:hover {
    color: #cf5300;
}

#cartpopout {
    height: initial;
    width: 350px;
    display: block;
    position: absolute;
    background-color: rgba(31, 31, 31, 0.95);
    border-top: 2px solid #f74604;
    top: 100px;
    opacity: 0;
    transition: 300ms ease-in-out;
    z-index: -1;
    list-style: none;
    padding-left: 0px;
    padding: 1%;
    right: -350px;
    max-width:100%;
}

#cartpopout.cart-open{
    right:0px;
    opacity:1;
}

#shopingcartli.scrolled #cartpopout.cart-open{
    top:80px;
    right:0px;
    opacity:1;
}


#cartbutton {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.viewcart {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #cd5318;
    font-family: 'Oswald', sans-serif;
    padding: 2.5%;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    display: inline-block;
    transition: 200ms linear;
    font-size: 14px;
    line-height: 16px;
}

.viewcart:hover {
    opacity: 0.8;
}

#cartitem {
    height: 100%;
    position: relative;
    display: table-row;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    list-style: none;
    padding: 0px;
}

#cartitem:first-of-type {
    border-top: 1px solid #fff;
}


#cartitemimage {
    width: 25%;
    vertical-align: middle;
    display: table-cell;
    float: none;
    padding: 3%;
    border-bottom: 1px solid #fff;
}

img.cartimage {
    width: 100%;
    border: 2px solid #cd5318;
    box-sizing: border-box;
}

#cartitemdesc {
    width: 55%;
    float: none;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cartitemdesc h3 {
    margin: 5px;
    color: #cd5318;
    font-size: 20px;
    line-height: 20px;
}

#cartitemdesc p {
    margin: 5px;
    font-size: 12px;
}

#cartitemprice {
    width: 10%;
    float: none;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    height: 100%;
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
}


/* Header Social Icons
-----------------------------------*/

#headersocial {
    margin: auto;
    box-sizing: border-box;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

.headsocicon {
    color: #fff;
    font-size: 20px;
    margin: auto;
    line-height: 20px;
    transition: 200ms linear;
    margin-left: 15%;
    margin-right: 15%;
}

.headsocicon:hover {
    color: #cf5300;
}



/* Navigation Toggle
---------------------------------------*/

#toggle {
    display: none;
    width: 50px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 0px;
    font-size: 25px;
    position: absolute;
    left: -50px;
    top: 26px;
    transition:top 175ms linear;
}

#toggle.scrolled {
    top: 16px;
}


/* Banner
-----------------------------------*/

#banner {
    position: relative;
    background: url(https://adamrewrk.github.io/OrangeArmories/Images/Banner/Military-Man-Walking.jpg) no-repeat fixed top center;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 125px;
}

#internalpagebanner{
    position:relative;
    background: url(https://adamrewrk.github.io/OrangeArmories/Images/Banner/Military-Man-Walking.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 75px;
}

#bannerinner {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}


#bannercol {
    width: 40%;
    color: #fff;
}

#bannercol p {
    margin-bottom:40px;
}

.bannerbutton {
    border: 3px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 200ms ease-in-out;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.bannerbutton:hover {
    background: #fff;
    color: #cf5300;
}



/* Page Divider
-------------------------------------*/

.pagedivider {
    background: #1f1f1f;
    height: 10px;
    width: 100%;
}



/* Content Section
------------------------------------------*/

#content {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: auto;
}

#contentinner {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

#contentcat{
    width:50%;
    float:left;
    box-sizing:border-box;
    padding:3%;
}

#content.productpage{
    padding-top:150px;
}


/* Breadcrumb
---------------------------------*/

.breadcrumbsContainer {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background: #f6f6f6;
    padding: 1.5%;
    border-top: 2px solid #cf5300;
}

.breadcrumbItem {
    float: left;
}

.breadcrumbsContainer a {
    text-decoration: none;
    color: #cf5300;
    transition: 150ms linear;
    margin-left: 4px;
}

.breadcrumbsContainer a:hover {
    color: #000;
}


/* Product Catagory Sections
-------------------------------------*/

#prodcat {
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding: 5%;
    position: relative;
    margin: 2.5%;
    height: 450px;
    background-size: cover;
    padding-left: 0px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: 200ms linear;
    background-position: center;
}

#prodcat:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#catagorytitle {
    background: rgba(205, 83, 24, 0.9);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
    padding-left: 15px;
    width: 100%;
    height: fit-content;
    line-height: 5vw;
    position: relative;
    margin-top: 200px;
}


.weapons{
    background-image:url(https://adamrewrk.github.io/OrangeArmories/Images/Product-Catagories/Weapons.jpg);
}

.ammunation{
    background-image:url(https://adamrewrk.github.io/OrangeArmories/Images/Product-Catagories/Ammunation.jpg);
}

.protectivegear{
    background-image:url(https://adamrewrk.github.io/OrangeArmories/Images/Product-Catagories/Protective-Wear.jpg);
}

.accessories{
    background-image:url(https://adamrewrk.github.io/OrangeArmories/Images/Product-Catagories/Accessories.jpg);
}

/* Product Pages
---------------------------------------*/

#productdescriptionbox {
    width: 45%;
    float: left;
}

#productshortdesc {
    margin-bottom: 20px;
}

#productprice {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #cf5300;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

#addtobasketholder {
    width: fit-content;
    float: left;
}


button.addtobasket {
    font-size: 13px;
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    background: green;
    border: 2px solid green;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    transition: opacity 200ms linear;
}

button.addtobasket:hover {
    cursor: pointer;
    opacity: 0.8;
}

#input-quantity {
    font-size: 21px;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
}

#productoptions {
    background: #f6f6f6;
    padding: 7.5%;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#productoptions h3 {
    margin-top: 0px;
}

#productoptions strong {
    width: initial;
    float: left;
    position: relative;
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
    color: #cf5300;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
}

select.styledropdown {
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #cf5300;
    border-radius: 0px!important;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#option {
    width: initial;
    float: left;
    padding: 2%;
}

#productdescription {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
}


#prodlongdescription {
    width: 50%;
    padding: 2.5%;
    box-sizing: border-box;
}

#prodspecs {
    width: 45%;
    float: right;
    background: #f6f6f6;
    padding: 2.5%;
    box-sizing: border-box;
}

#spectable {
    list-style: none;
    width: 100%;
    position: relative;
    padding: 0px;
    display: inline-block;
}

#specitem {
    width: 33%;
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;
    text-align: center;
}

#specitem strong {
    color: #cf5300;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


/* Product Image Galery
-------------------------------------*/

#productimagegallery {
    width: 50%;
    float: right;
    padding: 3%;
    box-sizing: border-box;
    overflow: hidden;
}




/* Products Layout Page / Search landing page
---------------------------------------*/

#productgridleft {
    width: 25%;
    float: left;
    position: relative;
    display: inline-block;
    transition:300ms ease-in-out;
}

#leftsidebartitle h4:first-of-type {
    margin-top: 10px;
}

#productgridleft.visable{
    height:100%;
}

#productleftbartoggle {
    background: #f6f6f6;
    border: 0px;
    border-top: 2px solid #cd5318;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 100%;
    text-align: left;
    display:none;
}


#searchtoggledownarrow {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

#searchtoggledownarrow i.fa.fa-arrow-circle-down {
    display: block;
    font-size: 18px;
    line-height: 40px;
}

#searchtoggledownarrow i.fa.fa-minus-circle {
    display: none;
    font-size: 18px;
    line-height: 40px;
}

#searchtoggledownarrow i.fa.fa-arrow-circle-down.selected {
    display: none;
}

#searchtoggledownarrow i.fa.fa-minus-circle.selected {
    display: block;
}


#productgridright {
    width: 74%;
    float: left;
    display: inline-block;
    margin-left: 1%;
}

#productlayout {
    width: 30%;
    float: left;
    display: inline-block;
    background: #f6f6f6;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #cd5318;
    box-sizing: border-box;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 200ms linear;
}

#productlayout:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

#productlayoutimage {
    position: relative;
    width: 100%;
    height: 250px;
    background: #fff;
}

#productlayoutimage img {
    width: 100%;
    position: relative;
    max-height: 100%;
}

#productlayouttitle {
    color: #cd5318;
    font-family: 'Oswald', sans-serif;
    border-top: 2px solid #cd5318;
    text-align: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 5px;
}

#productlayoutprice {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 10px;
}

#productlayoutspecs {
    background: #cd5318;
    color: #fff;
    padding: 3%;
    margin-top: 10px;
}

#productspecslist {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: inline-table;
    width: 100%;
    text-align: center;
}

#producspecitem {
    width: 50%;
    float: left;
    display: table-cell;
    position: relative;
}

/* Shopping Basket Page
-------------------------------------*/

#shoppingbasketouter {
    width: 100%;
    display: inline-block;
}

#shoppingheaders, #shoppingitem {
    list-style: none;
    padding-left: 0px;
    width: 100%;
    position: relative;
    margin: 0px;
    display: inline-table;
}

#shoppingheaders li, #shoppingitem li {
    display: table-cell;
    padding: 1%;
    box-sizing: border-box;
}

#shoppingheaders li {
    border-top: 2px solid #cf5300;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    float: left;
    background: #f6f6f6;
}

#shoppingitem li {
    border-left: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}

#shoppingitem li:last-child {
    border-right: 1px solid #f6f6f6;
}

#itemdescription{
    width:50%;
}

#itemid, #itemprice, #itemquantity, #itempricetotal, #itemremove{
    width: 10%;
}

#shoppingitem #itemremove, #shoppingitem #itemprice, #shoppingitem #itemquantity{
    text-align:center;
}

#removeitem {
    background: transparent;
    border: 0px;
    color: red;
    font-size: 16px;
    line-height: 16px;
    transition: 200ms linear;
}

#removeitem:hover {
    color: #333;
    cursor: pointer;
}




/* Subfooter Section
---------------------------------------*/

#subfooter {
    background: #cf5300;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    height: auto;
    display: block;
    overflow: auto;
}

#subfooterinner {
    width: 100%;
    max-width: 1200px;
    position: relative;
    height: 100%;
    display: block;
    margin: auto!important;
}

#subfooterbox {
    width: 33%;
    position: relative;
    height: 100%!important;
    text-align: center;
    float: left;
    display: block;
}

#subfooterbox h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

#subfooterbox a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 200ms linear;
}

#subfooterbox a:hover {
    color: #ccc;
}


/* Footer Section
-------------------------------------------*/

#footer {
    background: #1f1f1f;
    padding-top: 30px;
    padding-bottom: 5px;
    position: relative;
}

.footerinner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

#socialicons {
    text-align: center;
}

.icon {
    width: initial;
    height: initial;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 1%;
    display: inline-block;
    position: relative;
    transition: 200ms ease-in-out;
}

.icon i {
    font-size: 26px;
    line-height: 30px;
    width: 50px;
    height: 50px;
    padding: 20%!important;
    box-sizing: border-box;
    text-align: center;
}

#socialicons .icon a {
    color: #fff;
    transition: 200ms ease-in-out;
}

.icon:hover {
    border-color: #cf5300;
}

#socialicons .icon:hover a {
    color: #cf5300;
}


/* Copyright Section
------------------------------------------*/

#copyright {
    background: #1f1f1f;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}










/* Media Querys
---------------------------------------*/

/* Tablet
-----------------------*/

@media screen and (max-width:1024px) and (min-width:768px){
    
    /* Product Layout / Search Results
    ---------------------------------------*/
    
    #productlayout {
        width: 47%;
    }
}


/* Mobile
-----------------------*/

@media screen and (max-width:767px) and (min-width:0px){
    
    /* Navigation
    --------------------------------*/
    
#navigation {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    background-color: rgba(31, 31, 31, 0.95);
    padding-left: 20px;
    padding-right: 20px;
    transition: 300ms ease-in-out;
    padding-bottom: 50px;
}
    
#navigation.nav-open {
    right: 0px;
}
    
#navigation.nav-open #toggle {
    background-color: rgba(31, 31, 31, 0.95);
}
    
#nav {
    flex-direction: column;
    overflow: scroll;
}
    
#nav li {
    width: initial;
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 10px;
}
    
#megamenu {
    position: relative;
    top: 0;
    margin: auto!important;
    left: 0px;
    width: 100%;
    display:block;
    opacity:1;
    z-index:1;
}
    
#megamenu.scrolled {
    top: 0px;
}
    
.megamenucol {
    width: 100%!important;
}
    
.megamenulist {
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
    
#toggle {
    display:block;
}
    
#shopingcart {
    margin-right: 50px;
}
    
.navlabel {
    display:block;
}
    
.toplevel {
    padding-top: 21px;
}
    
.toplevel.scrolled {
    padding-top: 11px;
}
    
.toplevel:hover #megamenu {
    top: 0px;
    opacity: 1;
}
    
    
/* Logo
-------------------------------*/
    
.logo {
    padding-top: 3%;
    padding-bottom: 3%;
}
    
    
/* Banner
    ----------------------*/
    
    #banner{
        padding-top: 110px;
        padding-bottom: 60px;
        background-position: center center;
        background-size: 200%;
    }
    
    #bannercol {
        width: 100%;
    }
    
    
/* Product Page Catagories
-------------------------------*/
    
#productimagegallery {
    width: 100%;
    float: none;
}
    
#productdescriptionbox {
    width: 100%;
    float: none;
}
    
#prodspecs {
    width: 100%;
    float: none;
}
    
#prodlongdescription {
    width: 100%;
}
    
    
/* Product Catagories
--------------------------------*/
    
#prodcat {
    width: 95%;
    height: 450px;
    padding-right:10%;
    background-size:cover;
}
    
#prodcat:hover{
    background-size:cover;
}
    
#catagorytitle{
    font-size: 30px;
    line-height: 50px;
    margin-top: 250px;
}
    
    
    /* Product Layout / Search Results
    ---------------------------------------*/
    
    #productlayout {
        width: 97%;
    }
    
    /* Product Layrout right
    ---------------------------------*/
    
    #productgridright {
    width: 100%;
    float: none;
    margin-left: 0%;
}
    
    /* Product Layout left bar
    ------------------------------------*/
    
    
    #productleftbartoggle{
        display:block;
    }
    
    #productgridleft {
        width: 100%;
    }
    
    #leftsidebartitle h4:first-of-type {
        margin-top: 0px;
    }
    
    #productgridleft {
        height: 0px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    
    
    /* Shopping Cart Page
    ----------------------------*/
    
    #shoppingheaders li, #shoppingitem li {
    font-size: 1.5vw;
    line-height: 3vw;
}
    
    
/* Subfooter 
-----------------------------------*/
    

#subfooterbox {
    width: 100%;
}

    
}